<p>rform works!</p>
<p>{{ msg }}</p>
<div class="container">
    <div class="row  py-4 align-items-center">
        <div class="col-9">
            <div class="media">
                <img src="../assets/img/passport.png" class="img-fluid" style="height:80px; width: 80px;">
                <div class="media-body pl-3">
                    <h5 class="mt-0">Studio Binder</h5>
                    Automate your stripboards by linking your studio Binder account
                </div>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-primary px-4">Link</button>
        </div>
    </div>
    <div class="row   py-4 align-items-center">
        <div class="col-9">
            <div class="media">
                <img src="../assets/img/passport.png" class="img-fluid" style="height:80px; width: 80px;">
                <div class="media-body pl-3">
                    <h5 class="mt-0">Digital Purchase Order</h5>
                    Link your order data to sync with Digital Purchase Order
                </div>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-primary px-4">Link</button>
        </div>
    </div>
    <div class="row  py-4 align-items-center">
        <div class="col-9">
            <div class="media">
                <img src="../assets/img/passport.png" class="img-fluid" style="height:80px; width: 80px;">
                <div class="media-body pl-3">
                    <h5 class="mt-0">Dropbox</h5>
                    Auto impove items your drop into watched folders
                </div>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-danger px-3">Unlink</button>
        </div>
    </div>
    <div class="row  py-4 align-items-center">
        <div class="col-9">
            <div class="media">
                <img src="../assets/img/passport.png" class="img-fluid" style="height:80px; width: 80px;">
                <div class="media-body pl-3">
                    <h5 class="mt-0">Google Drive</h5>
                    Uploade photos and link files within your Google Drive
                </div>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-primary px-4">Link</button>
        </div>
    </div>

    <div class="row  py-4 align-items-center">
            <div class="col-9">
                <div class="media">
                    <img src="../assets/img/passport.png" class="img-fluid" style="height:80px; width: 80px;">
                    <div class="media-body pl-3">
                        <h5 class="mt-0">Scenechronize</h5>
                        Auto impove script changes and daily schedules
                    </div>
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-danger px-3">Unlink</button>
            </div>
        </div>