<!-- form array -->
<div class=" container pt-3">
  <form [formGroup]="myForm" (ngSubmit)="formSubmission()">
    <div class="form-group">
      <label for="">Email address</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input type="text" class="form-control" formControlName="email" placeholder="Password">
    </div>
    <div class="form-group">
      <h5>Select your Gender </h5>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio">
        <label class="form-check-label" for="inlineCheckbox1">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio">
        <label class="form-check-label" for="inlineCheckbox2">Female</label>
      </div>
    </div>
    <div class="form-group" formArrayName="skills">
      <label for="">Add your skills</label>
      <div *ngFor="let s of myForm.get('skills').controls; index as add ">
        <input type="text" class="form-control mb-2" placeholder="add skill" formControlName="{{ add }}">
      </div>
      <button class="mt-2 btn btn-outline-secondary " (click)="onAdd()"> + Add</button>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p class="text-danger py-4">{{ msg }}</p>
</div>
<!-- ---------------- -->